.card {
  width: 400px;
  margin-bottom: 50px;
  background-color: white;
  color: $font-color;

  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;

  &__title {
    margin-top: -10 px;
  }
  &__image {
    width: 100%;
  }
  &__content {
    margin: 15px;
    padding: 15px;

  }
  &__description {
    overflow-y: scroll;
    height: 100px;
  }
  &__btn {
    background-color: $main-color;

    > a {
      text-decoration: none;
      color: $background_color;
    }
  }
}