$background_color: #EAEBED;
$main_color: #14b2a1;
$hover_color: #007090;
$grey_color: #a3bac3;
$blue_color: #006989;

$font-color: #2E2E2E;


$font-family-heebo: 'Heebo', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-sourcecodepro: 'Source Code Pro', monospace;